
.cart{   
    .cart-title{
        padding: 1rem 0;
        font-size: 1.5rem;
        text-align: center;
    }
    .cart-item{
        border-bottom: 1px solid $peach;
        &:last-child{
            margin-bottom:30px ;
        }
        @media(min-width:767px){
            &:last-child{
              border:none;
            } 
        }
    }  
    .cart-info{
        display: flex;   
        align-items: center;   
    }
    .cart-img{
        height:110px;
        min-width:110px;
        margin-right: 38px ;
        @media(max-width: 767px){
            height:180px;
            margin-right: 1rem;
        }
    }
    .cart-name{
        width: 100%;
        span:first-child{
            font-size: 20px;          
        }
        span:last-child{
            font-size: 1rem;
        }
    }
    .input-group{
        button,input{
            width: 48px;
            height:48px;
        }
        .form-control{
            flex:none;
        }
        @media(max-width: 320px){
             button,input{
                width:40px;
                height:40px;
             }         
        }

    }
    .cart-price{
        padding:8px 0;       
    }
    @media(max-width: 768px){
        .cart-price{
            width:100%;
            text-align: end;
        }
        .cart-info{
            padding-bottom:8px;
            border-bottom: 1px solid $peach;
        }
    }
}

.detail-text{
        .cart-title{
            padding: 16px 18px;
            background-color: $warm;
            @media(max-width: 767px){
                &{
                    background-color: transparent;
                    padding: 16px 0;
                }
            }
        }
        h3{            
            font-size: 24px;
            border-bottom: 2px solid $white;
            padding-bottom: 16px;
            margin-bottom: 0;
            @media(max-width: 767px){
                &{
                   border: none;
                   padding:16px 0;
                   background-color: $warm;
                }
            }
        }
        .detail-item{
            background-color: $warm;
            padding: 0 18px;
            @media(max-width: 767px){
                &{
                    background-color:transparent;
                    color:$warm;
                    padding:0;
                }
            }
        }   
    }