
.singIn{
    h1{
        padding:40px 0;
    }
    .social-links{
        margin-top: 16px;
        margin-bottom:16px;
        padding: 40px 30px;
        background-color: $peach;
        color: darken($peach, 25%);
        h3{ 
            display: inline;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 36px;
            position: relative;
            &::before{
                content: "";
                display: block;
                width: 36px;
                height: 2px;
                background-color:darken($peach, 25%); 
                position: absolute;
                top:50%;
                left:-30%;
            }
            &::after{
                content: "";
                display: block;
                width: 36px;
                height: 2px;
                background-color:darken($peach, 25%); 
                position: absolute;
                top:50%;
                right:-30%;
            }
        }
        a.btn{
           display: block;
           background: lighten($peach , 8%);
           margin-bottom: 1rem;
           transition: all .3s;
           &:hover{
                background: lighten($peach , 5%);
           }
        }
    }
    @media(max-width: 767px){
          .social-links-items{
              display: flex;
              justify-content: center;
              background-color: white;
              margin-bottom: 16px;
          }
          a.btn{
              margin-bottom: 0;
          }
 
    }
}