
.bg-cover{
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
.wh-100{
  width: 100%;
  height: 100%;
}


@media(min-width:768px){
    .writing-md-vertical{
     writing-mode: vertical-rl;
  }
}

@media(min-width:768px){
    .margin-negative{
      margin-top:-24px;
      margin-bottom: -24px;
  }
}



@media(max-width:767px){
    .w-sm-100{
     width:100% !important; 
  }
    .w-sm-50{
       width:50% !important; 
    }
    .negative-row-margin {
   margin-right: -15px;
   margin-left: -15px;
  } 
}
@media(max-width:768px){
      .w-lg-100{
       width:100% !important; 
    }
}
